.profile-page--container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.profile-page--left {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #ddd;
  padding: 32px;
  width: calc(40% - 64px);
  height: calc(100% - 64px);
}

.profile-page--right {
  display: flex;
  background-color: #eee;
  padding: 32px;
  width: calc(60% - 64px);
  height: calc(100% - 64px);
}

.profile-page--header {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

.profile-page--container .profile-page--avatar {
  width: 100px;
  height: 100px;
  margin-left: 16px;
}

.profile-page--location {
  display: flex;
  align-items: center;
  white-space: pre;
}

.profile-page--close {
  position: fixed !important;
  top: 16px;
  left: 16px;
  color: #eee !important;
}

.stacked {
  display: flex;
  flex-direction: column;
}

.center-vertical {
  justify-content: center;
}

.align-right {
  align-items: flex-end;
}

.profile-page--stats {
  margin-top: 16px;
  justify-content: end;
}

.profile-page--stats-grid {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: repeat(5, 20%);
  grid-column-gap: 8px;
}

.profile-page--stats-label {
  text-align: end;
  font-weight: 600;
}
