.profile-page--container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 100%;
}

.profile-page--divider {
  margin: 16px 0 !important;
  background-color: #777 !important;
}

.profile-page--left {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #ddd;
  padding: 32px;
  width: calc(40% - 64px);
}

.profile-page--right {
  display: flex;
  background-color: #eee;
  padding: 32px;
  width: calc(60% - 64px);
  height: auto;
}

.profile-page--header {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  width: calc(100% - 48px);
  height: 100px;
  margin-left: 48px;
  text-align: right;
}

.profile-page--container .profile-page--avatar {
  width: 100px;
  height: 100px;
  margin-left: 16px;
}

.profile-page--location {
  display: flex;
  align-items: center;
  white-space: pre;
}

.profile-page--close {
  position: fixed !important;
  top: 8px;
  left: 8px;
  color: #eee !important;
}

.stacked {
  display: flex;
  flex-direction: column;
}

.center-vertical {
  justify-content: center;
}

.align-right {
  align-items: flex-end;
}
