.search-container {
  position: absolute;
  top: 25%;
}

.search-input {
  width: 100%;
  display: flex;
  padding: 0 6px;
  align-items: center;
  background: #eee;
  border-radius: 4px;
}

.search-input > * {
  flex-shrink: 0;
  padding-left: 6px;
}

.search-input--loading-wrapper {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}
